:root {
  --primary-color-1: #e5ebf9;
  --primary-color-2: #a2afcd;
  --primary-color-3: #455e9b;
  --primary-color-4: #163683;

  --primary-text-color: #242629;

  --secondary-color-1: #ea5a73;
  --secondary-color-2: #b64857;
  --secondary-color-3: #a41a2d;
  --secondary-color-4: #861020;

  --background-color: #f8f8f8;

  --gray-color-1: #e4e6ee;
  --gray-color-2: #b6b9c4;
  --gray-color-3: #7c8091;
  --gray-color-4: #4c5160;
  --gray-color-5: #4f4f4f;

  --black-color: #222222;
  --white-color: #ffffff;

  --risk-color-1: #f42525;
  --risk-color-2: #f26060;
  --risk-color-3: #ff871c;
  --risk-color-4: #fdd252;

  --green-color: #27ae60;

  --link-color: #2f80ed;

  --success-color: #bfe7df;
  --success-border-color: #20544a;

  --info-color: #77c5ff;
  --info-border-color: #000a11;

  --error-color-1: #f9ddd9;
  --error-color-2: #b82e1b;
  --error-border-color: #b82e1b;

  --event-border: #ffffff;
  --event-color-color: #ebebeb;

  --hover-border-color: #0061aa;
  --focus-border-color: #494949;

  --disabled-color: #767676;
  --disabled-border-color: #767676;

  --disabled-cta-color: #24262933;
  --disabled-cta-border-color: #24262933;
}
