@keyframes slideDown {
    from {
        height: 0;
        opacity: 0;
    }

    to {
        height: 280px;
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        height: 280px;
        opacity: 1;
    }

    to {
        height: 0;
        opacity: 0;
    }
}

.dropdown-style {
    width: 100%;
    background-color: #e4e6ee;
    display: flex;
    justify-content: center;
    overflow: hidden;
    animation-fill-mode: forwards;
}

.dropdown-style.open {
    height: 280px;
    animation: slideDown 0.5s ease;
    /* Usa la misma duración y timing-function que slideDown */
}

.dropdown-style.closed {
    height: 0;
    animation: slideUp 0.5s ease-in-out;
    /* Usa la misma duración y timing-function que slideUp */
}

.dropdown-int {
    width: 98.5%;
    height: 96%;
    padding: 10px 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-y: auto;
    overflow-x: hidden;
}

.active-row {
    background-color: #e4e6ee;
}